{% extends "base.html" %}

{% block title %}
    <title>Login</title>
{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <h2>{{ message }}</h2>
        {% endfor %}
    {% endif %}
    <main>
        <div>
            <h1>Signup</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Signup</button>
            </form>
        </div>
    </main>
{% endblock content %}
